body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;  
  font-weight: 200;
  font-size: 46px;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

.container{
  width: 85%;  
}